.sentence {
  position: relative;

  &:hover {
    div {
      visibility: visible;
      opacity: 1;
    }
  }
}

.arrow {
  position: absolute;
  height: 0;
  width: 0;
  left: 65%;
  background: $color-site;
  padding-top: 10px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 22px solid $color-site;
  background: transparent;
  top: calc(100% - 3px);
  opacity: 0;
  transition: opacity 200ms;
  visibility: hidden;
}

.tooltip {
  z-index: 1;
  position: absolute;
  width: 400px;
  left: calc(50% - 150px);
  top: calc(100% + 22px);
  background: $color-white;
  border: 7px solid $color-site;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 200ms;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  visibility: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.column {
  width: calc((100% / 3) - 12px);
  margin: 16px 6px;
  display: flex;
  align-items: center;

  div {
    margin-right: 12px;
    margin-left: 6px;
  }
}

.learnMore {
  text-align: center;
  width: 100%;
  margin: 10px 0;

  a {
    text-decoration: underline;
  }
}