.spotlight {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  height: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 10px auto 5px;
  color: $color-site;
}

.title {
  color: $color-site;
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;

  &:last-of-type {
    font-size: 2rem;
    color: $color-primary;
  }
}

.subtitle {
  color: $color-site;
  font-size: 1.2rem;
  font-weight: bold;
}

.skeleton {
  @include skeleton-animation;

  width: 400px;
  height: 40px;
}